<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
     <link rel="stylesheet" href="static/css/style.css">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            
            <h3 >Python Flask Bucketlist App</h3>
        </div>
        <section>
            <form method="post" action="">
                <fieldset>
 
                    <!-- Form Name -->
                    <legend>Create Your list</legend>
 
                    <!-- Text input-->
                    
                        <label >Bucketlist Title</label>
                            <input type="text" name="inputTitle"  placeholder="bucketlist title" >
                    <br>
 
                    <!-- Textarea -->
                        <label >Items of the list</label><br>
                        
                            <input type="text" name="item1"  placeholder="item1" ><br><br>

                            <input type="text" name="item2"  placeholder="item2" ><br><br>

                            <input type="text" name="item3"  placeholder="item3" ><br><br>

                            <input type="text" name="item4"  placeholder="item4" ><br><br>
                    
 
                    <!-- Button -->
                    <div class="form-group">
                        
                            <a href="addlist.html"><input name="create"  type="button" value="Save List" /></a>
                    </div><br><br>
                    <a href="view.html"><input id="" name="view"  type="button" value="View lists" /></a>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>&copy; Hadijah 2017</p>
        </footer>
 
    </div>
</body>
 
</html>