<html>
<head>

 <link rel="stylesheet" href="static/css/style.css">
<style>
label{display:inline-block;width:100px;margin-bottom:10px;}

</style>
 
 
<title>ALREADY HAVE AN ACCOUNT</title>
</head>
<div id="main">
<div id="background">

      <div id="header">
	  <h1> LOGIN<span></span></h1>
	  </div>
	  </div>
	  
<body>
<form method="post" name="login" action="">
<label>Email</label>
<input type="text" name="email_field"  required=""/>
<br />
<label>Pass word</label>
<input type="password" name="password_field" required="" />
<br />
<label>Submit</label>
<a href="addlist.html"> <input  name="signup" id="login"  value="LOGIN" type="button"> </a>
</form>
</div>
</body>
</html>